.camera {
    width: 600px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: auto; */
    margin-left: 25%;
    margin-top: 1rem;
}

@media screen and (max-width: 821px) {
    .camera {
        width: 100%;
        margin-left: 0%;
        margin-top: 1rem;
    }
}
